
/* COLORS */
:root {
	--primary: #0098bb;
	--secondary: #4aa35c;
	--grey: #afafaf;
	--bg-color: white;
	--white: white;
}

@import url('/css/style.css');

// FONTS

@font-face {
	font-family: "Nexa";
	/* stylelint-disable-line font-weight-notation */
	font-style: normal;
    font-display: swap;
    font-weight: 500 900;
	src: url(../fonts/nexa/NexaBold.otf) format("opentype");
}


@font-face {
	font-family: "Nexa";
	font-weight: 100 500;
	/* stylelint-disable-line font-weight-notation */
	font-style: normal;
	font-display: swap;
	src: url(../fonts/nexa/NexaLight.otf) format("opentype");
}

@supports (font-variation-settings: normal) {

	body {
		font-family: "Nexa", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
		
		* {
			font-family: inherit !important;
		}
	}
}

// BLINK

.blink {
	animation: blink 1s step-start 0s infinite;
	-webkit-animation: blink 1s step-start 0s infinite;
	padding-left: 5px;
  }
  @keyframes blink {
	50% {
	  opacity: 0.0;
	}
  }
  @-webkit-keyframes blink {
	50% {
	  opacity: 0.0;
	}
  }

// FLOATING STICKY HEADER

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed !important;
	top: 0;
	width: 100%;
	-webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
	box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + * {
	padding-top: 100px;
  }

