
/* COLORS */
:root {
	--primary: #0098bb;
	--secondary: #4aa35c;
	--grey: #afafaf;
	--bg-color: white;
	--white: white;
}

@import url('/css/style.css');

@font-face {
	font-family: "Nexa";
	/* stylelint-disable-line font-weight-notation */
	font-style: normal;
    font-display: swap;
    font-weight: 500 900;
	src: url(../fonts/nexa/NexaBold.otf) format("opentype");
}


@font-face {
	font-family: "Nexa";
	font-weight: 100 500;
	/* stylelint-disable-line font-weight-notation */
	font-style: normal;
	font-display: swap;
	src: url(../fonts/nexa/NexaLight.otf) format("opentype");
}

@supports (font-variation-settings: normal) {

	body {
		font-family: "Nexa", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}

	body * {
		font-family: inherit !important;
	}
}
